
<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= hidden_field_tag :commentable_id, @thing.id %>
  <%= hidden_field_tag :commentable_type, @thing.class %>
  <input type="hidden" name="commen..." value="thing.id"
  <div class="form-inputs">
    <%= f.input :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
